.popup__button_type_delete {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 0;
}

.popup__button_type_delete:hover {
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 568px) {
  .popup__button_type_delete {
    font-size: 14px;
    line-height: 17px;
  }
}
